In [4]:
##Q1##
"""
numbers = [10, 5, 20, 8, 15]
second = second_largest(numbers)
print(second)
"""
def second_largest(numbers):
  numbers.sort()
  return numbers[-2]

numbers = [10, 5, 20, 8, 15]
second = second_largest(numbers)
print(second)

15

In [16]:
##Q2##
"""
text = "Hello World"
vowel_count = count_vowels(text)
print(vowel_count)
"""
def count_vowels(text):
  count=0
  text=text.lower()
  for i in range (0,len(text)):
    if(text[i]=='a' or text[i]=='e' or text[i]=='i' or text[i]=='o' or text[i]=='u'):
      count+=1
  return count

text = "Hello World"
vowel_count = count_vowels(text)
print(vowel_count)

3

In [28]:
##Q3##
"""
N = 20
# Expected output: 2,3,5,7,11,13,17,19
"""
def isPrime(a):
  if(a<=1):
    return False
  for i in range(2,int(a/2)+1):
    if((a%i)==0):
      return False
  return True

def countPrimes(n):
  arr=[]
  for i in range(1,n+1):
    if(isPrime(i)):
      arr.append(i)
  return arr

N=80
print(countPrimes(N))
# print(arr)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79]

In [27]:
##Q4##
"""
list1 = [1, 4, 5]
list2 = [1, 3, 4]
merged = merge_sorted_lists(list1, list2)
print(merged)
# Expected output: [1, 1, 3, 4, 4, 5]
"""
def merge_sorted_lists(list1, list2):
  list1=list1+list2
  list1.sort()
  return list1

list1 = [1, 4, 5]
list2 = [1, 3, 4]
merged = merge_sorted_lists(list1, list2)
print(merged)

[1, 1, 3, 4, 4, 5]

In [29]:
##Q5##
"""
Create a dictionary like: student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}. Write Python code to find and print the name of the student with the highest grade.

Example:

student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}
# Expected output: Bob
"""
def findHighest(student_grades):
  # list=[]
  # for i in student_grades.values():
  #   list.append(i)
  # list.sort()
  return dict(sorted(student_grades.items(), key=lambda x: x[1]))
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}
print(findHighest(student_grades))

{'Charlie': 78, 'Alice': 85, 'Bob': 92}

In [10]:
##Q6##
"""
Write a function is_anagram(str1, str2) that checks if two given strings are anagrams of each other (contain the same characters with the same frequencies, ignoring case).

Example:

print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))

"""
def is_anagram(str1,str2):
  str1=str1.lower()
  str2=str2.lower()
  return sorted(str1)==sorted(str2)

print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))

True
False

In [13]:
##Q7##
"""
Write a function rotate_list(lst, k) that rotates a given list lst to the right by k positions in-place. Assume k is a non-negative integer and can be greater than the length of the list.

Example:

my_list = [1, 2, 3, 4, 5]
rotate_list(my_list, 2)
print(my_list)
# Expected output: [4, 5, 1, 2, 3]
"""
def rotate_list(lst,k):
  n=len(lst)
  new_list=[]
  k=k%n
  for i in range(n):
    new_list.append(lst[(k-i)%n])
  lst=new_list
  return lst

my_list = [1, 2, 3, 4, 5]
rotate_list(my_list, 2)
# my_list=rotate_list(my_list,2)
print(rotate_list(my_list, 2))

[3, 2, 1, 5, 4]

In [4]:
##Q8##
"""
You have a list of dictionaries, where each dictionary represents a product with keys "name", "price", and "category". Write a function group_by_category(products) that takes this list and returns a dictionary where the keys are the unique categories and the values are lists of product names belonging to that category.

Example:

products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
grouped_products = group_by_category(products)
print(grouped_products)
# Expected output: {'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}
"""

def group_by_category(products):
  result={}
  for i in products:
    name = i["name"]
    category = i["category"]
    if category not in result:
      result[category] = []

        # Add the product name
    result[category].append(name)

  return result

products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
grouped_products = group_by_category(products)
print(grouped_products)

{'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

In [14]:
##Q9##
"""
Write a Python program that prints the first n rows of Pascal's triangle. n is a positive integer and an user input. To know about Pascal's triangle see the wikipedia article:

Example:

n = 5
# Expected output:
#     1
#    1 1
#   1 2 1
#  1 3 3 1
# 1 4 6 4 1
"""
def generate_pascal_triangle(n):
  triangle = []  # To store all rows
  for i in range(n):
      row = [1]  # Every row starts with 1
      if i > 0:
          prev_row = triangle[i-1]
          # Generate the middle elements
          for j in range(1, i):
              row.append(prev_row[j-1] + prev_row[j])
          row.append(1)  # Every row ends with 1
      triangle.append(row)
  return triangle

def print_pascals_triangle(triangle):
    n = len(triangle)
    for i, row in enumerate(triangle):
        # Print leading spaces for alignment
        print(' ' * (n - i - 1), end='')
        print(' '.join(map(str, row)))

n=6
triangle = generate_pascal_triangle(n)
print_pascals_triangle(triangle)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

In [7]:
##Q10##
"""
Write a function reverse_the_words(s) which will take a string s as input and reverses the words in the string.

Example:

s = "Python is awesome and challenging"
r = reverse_the_words(s)
print(r)
# Expected output: challenging and awesome is Python
"""
def reverse_the_words(s):
  words = s.split()        # split into list of words
  reversed_words = words[::-1]  # reverse the list
  return " ".join(reversed_words)

s = "Python is awesome and challenging"
r = reverse_the_words(s)
print(r)

challenging and awesome is Python

In [6]:
"""
Write a function word_counter(s) which will take a string s as input and returns a dictionary with count of words (case insensitive). Remove all the punctuations and special symbols present in the string.

Example:

s = "This city is a beautiful city. This is where I live"
d = word_counter(s)

# Expected output (output can be in any order): {"this": 2, "city": 2, "is": 2, "a": 1, "beautiful": 1, "where": 1, "i": 1, "live": 1}
"""

def word_counter(s):
  s = s.lower()  # case insensitive

    # Remove punctuation manually
  cleaned = ""
  for ch in s:
      if ch.isalnum() or ch == " ":   # keep only letters, numbers, and spaces
          cleaned += ch

  words = cleaned.split()

  word_dict = {}
  for w in words:
      if w not in word_dict:
          word_dict[w] = 1
      else:
          word_dict[w] += 1

  return word_dict

s = "This city is a beautiful city. This is where I live"
d = word_counter(s)
print(d)

{'this': 2, 'city': 2, 'is': 2, 'a': 1, 'beautiful': 1, 'where': 1, 'i': 1, 'live': 1}